In [1]:
import pandas as pd

In [39]:
df = pd.read_csv("2 titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [41]:
df.drop(['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [43]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [45]:
#inputs.Sex = inputs.Sex.map({'male': 1, 'female': 2})

In [47]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [49]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [51]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [53]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [55]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [59]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True
3       1  35.0  53.1000    True
4       3  35.0   8.0500   False

In [61]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [63]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [65]:
model.fit(X_train,y_train)

GaussianNB()

In [67]:
model.score(X_test,y_test)

0.8134328358208955

In [69]:
X_test[0:10]

     Pclass        Age     Fare  female
817       2  31.000000  37.0042   False
556       1  48.000000  39.6000    True
522       3  29.699118   7.2250   False
186       3  29.699118  15.5000    True
584       3  29.699118   8.7125   False
654       3  18.000000   6.7500    True
850       3   4.000000  31.2750   False
56        2  21.000000  10.5000    True
313       3  28.000000   7.8958   False
845       3  42.000000   7.5500   False

In [71]:
 y_test[0:10]

817    0
556    1
522    0
186    1
584    0
654    0
850    0
56     1
313    0
845    0
Name: Survived, dtype: int64

In [73]:
model.predict(X_test[0:10])

array([0, 1, 0, 1, 0, 1, 0, 1, 0, 0], dtype=int64)

In [75]:
model.predict_proba(X_test[:10])

array([[0.91070972, 0.08929028],
       [0.095324  , 0.904676  ],
       [0.96135585, 0.03864415],
       [0.48004111, 0.51995889],
       [0.96162534, 0.03837466],
       [0.42573612, 0.57426388],
       [0.92392815, 0.07607185],
       [0.27558227, 0.72441773],
       [0.96079158, 0.03920842],
       [0.96264799, 0.03735201]])

In [77]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.768     , 0.816     , 0.752     , 0.75      , 0.71774194])